<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175235208758-3agjf92m00dn1lqbrbdffjldo4l9ogps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175235208758-3agjf92m00dn1lqbrbdffjldo4l9ogps</string>
	<key>API_KEY</key>
	<string>AIzaSyBcIPFldFc34wS1QKX_iMdCOdyjMON3B90</string>
	<key>GCM_SENDER_ID</key>
	<string>175235208758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nnz.nnz</string>
	<key>PROJECT_ID</key>
	<string>naneozoo</string>
	<key>STORAGE_BUCKET</key>
	<string>naneozoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175235208758:ios:bdb7f58f74e4687481ea97</string>
</dict>
</plist>